<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>idtoto</string>
	<key>name</key>
	<string>nametoto</string>
	<key>version</key>
	<string>versiontot</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>id</key>
			<string>idscene</string>
			<key>name</key>
			<string>namescene</string>
			<key>startAnchors</key>
			<array/>
			<key>nodes</key>
			<array>
				<dict>
					<key>id</key>
					<string>3424234</string>
					<key>name</key>
					<string>test node</string>
					<key>startAnchors</key>
					<array/>
					<key>triggers</key>
					<array>
						<dict>
							<key>actionBlocks</key>
							<array>
								<dict>
									<key>parentCode</key>
									<integer>0</integer>
									<key>action</key>
									<dict>
										<key>type</key>
										<string>notification</string>
										<key>name</key>
										<string>act notif</string>
									</dict>
									<key>actionBlocks</key>
									<array/>
								</dict>
								<dict>
									<key>parentCode</key>
									<integer>0</integer>
									<key>action</key>
									<dict>
										<key>type</key>
										<string>script</string>
										<key>name</key>
										<string>act script</string>
										<key>script</key>
										<string>asasdsad</string>
									</dict>
									<key>actionBlocks</key>
									<array/>
								</dict>
							</array>
							<key>conditions</key>
							<array>
								<dict>
									<key>type</key>
									<string>script</string>
									<key>name</key>
									<string>name script 2</string>
									<key>script</key>
									<string>script script 2</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>actionBlocks</key>
							<array>
								<dict>
									<key>parentCode</key>
									<integer>0</integer>
									<key>action</key>
									<dict>
										<key>type</key>
										<string>notification</string>
										<key>name</key>
										<string>act notif</string>
									</dict>
									<key>actionBlocks</key>
									<array/>
								</dict>
								<dict>
									<key>parentCode</key>
									<integer>0</integer>
									<key>action</key>
									<dict>
										<key>type</key>
										<string>script</string>
										<key>name</key>
										<string>act script</string>
										<key>script</key>
										<string>asasdsad</string>
									</dict>
									<key>actionBlocks</key>
									<array/>
								</dict>
							</array>
							<key>conditions</key>
							<array>
								<dict>
									<key>type</key>
									<string>signal</string>
									<key>name</key>
									<string>name signal</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>actionBlocks</key>
							<array>
								<dict>
									<key>parentCode</key>
									<integer>0</integer>
									<key>action</key>
									<dict>
										<key>type</key>
										<string>notification</string>
										<key>name</key>
										<string>act notif</string>
									</dict>
									<key>actionBlocks</key>
									<array/>
								</dict>
								<dict>
									<key>parentCode</key>
									<integer>0</integer>
									<key>action</key>
									<dict>
										<key>type</key>
										<string>script</string>
										<key>name</key>
										<string>act script</string>
										<key>script</key>
										<string>asasdsad</string>
									</dict>
									<key>actionBlocks</key>
									<array/>
								</dict>
							</array>
							<key>conditions</key>
							<array>
								<dict>
									<key>type</key>
									<string>script</string>
									<key>name</key>
									<string>name script 3</string>
									<key>script</key>
									<string>script script 3</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
